extends shared/layout

include mixins/project-form

block content
  .principal-content
    h1.title-page #{titlePage}

    +projectForm(project)

    if errors
      each error in errors
        small.error-message #{error.text} *