@import url('project.css');
@import url('new-project.css');
@import url('aside.css');
@import url('header.css');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
}

@keyframes AnimationContent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main {
    padding-top: 65px;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.principal-content {
    display: block;
    width: 100%;
    margin: 15px;
    animation: AnimationContent 0.5s ease-in-out;
}

.title-page {
    font-size: 25px;
    margin: 0px 0px 15px;
    display: flex;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
}
.icon-container .icon {
    width: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.icon-container .icon:hover {
    filter: brightness(0.9);
}


.input {
    margin-bottom: 15px;
}

.input input[type="text"] {
    border: 1px solid rgb(230, 230, 230);
    padding: 10px 5px;
    outline: none;
    width: 100%;
}

.input input[type="text"]:focus {
    border: 1px solid #228DE5;
}

input::-webkit-input-placeholder {
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}
textarea::-webkit-input-placeholder {
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}

.input textarea[type="text"]:focus {
    border: 1px solid #228DE5;
}

.input textarea[type="text"] {
    border: 1px solid rgb(230, 230, 230);
    padding: 10px 5px;
    outline: none;
    width: 100%;
    min-height: 150px;
    resize: vertical;
}

.input-label {
    display: block;
    font-size: 12px;
    opacity: 0.75;
    font-weight: 500;
    margin-bottom: 1.5px;
}

.btn-primary {
    display: inline;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #228DE5;
    padding: 10px 5px;
    min-width: 100px;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
}

.btn-primary:hover {
    transition: all 0.3s;
    filter: brightness(1.1);
}

.btn-primary:active {
    transition: all 0.3s;
    filter: brightness(0.95);
}

.error-message {
    color: tomato;
    padding-left: 5px;
}


/* --------------------------------------------------- */

@media screen and (max-width: 425px) {
    .title-page {
        font-size: 20px;
        margin: 0px 0px 10px;
    }
    .principal-content {
        display: block;
        width: 100%;
        margin: 10px;
        animation: AnimationContent 0.5s ease-in-out;
    }
}