.description-project {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.add-task {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 5px;
}

.add-task .submit {
  margin-top: 15px;
  text-align: end;
}

@media screen and (max-width: 425px) {
  .description-project {
    font-size: 14px;
    line-height: 20px;
    /* letter-spacing: 0.75px; */
  }
}