mixin projectForm(project = {})

  form.add-project(action=`/new-project/${ project.id || '' }` method="POST")
    .input
      label(for="projectName" class="input-label") Project Name 
      input(type="text" id="projectName" value=`${ edit ? project.name : '' }` name="projectName" placeholder="Example: Chat With Firebase" autocomplete="off")
    .input
      label(for="description" class="input-label") Description
      textarea(type="text" id="description"   name="description" placeholder="This is awsome chat app") #{edit ? project.description : ''}
    .send-action
      input(type="submit" value=`${ edit ? 'Update' : 'Add' }` class="btn-primary")